/* bai-jamjuree-regular - latin */
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/bai-jamjuree-v11-latin-regular.woff2') format('woff2'),
       url('../fonts/bai-jamjuree-v11-latin-regular.woff') format('woff');
  font-display: swap;
}
/* bai-jamjuree-600 - latin */
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/bai-jamjuree-v11-latin-600.woff2') format('woff2'),
       url('../fonts/bai-jamjuree-v11-latin-600.woff') format('woff');
  font-display: swap;
}
